body{
  background-color: #EAF6F6;
  width: 100%;
}
hr{
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 6%;
  }
h1,h3{
  color: #66BFBF;
}

/*****************************CLASS SELECTORS************************************/

.profile-image{
  border-radius: 100%;
}
